<% layout('layouts/boilerplate')%>
    <title>Edit Note</title>

    <div class="row">
        <div class="card col-6 offset-3">
            <form action="/notes/<%=note._id%>?_method=PUT" method="POST">
                <div class="card-body">
                    <h2 class="pb-3">Edit Note</h2>
                    <div class="mb-3">
                        <label for="title" class="form-label">Note Title</label>
                        <input type="text" class="form-control" id="title" name="title" value="<%=note.title%>">
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Note Body</label>
                        <textarea name="body" id="body" class="form-control" rows="3"><%=note.body %></textarea>
                    </div>
                    <button class="btn btn-primary">Update Note</button>
                </div>
            </form>
        </div>
    </div>