<% layout('layouts/boilerplate')%>
    <title>New Note</title>

    <div class="row">
        <div class="card col-6 offset-3">
            <form action="/notes/new" method="POST">
                <div class="card-body">
                    <h2 class="pb-3">New Note</h2>
                    <div class="mb-3">
                        <label for="title" class="form-label">Note Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Note Body</label>
                        <textarea name="body" id="body" class="form-control" rows="3"></textarea>
                    </div>
                    <button class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>