<% layout('layouts/boilerplate')%>
    <title>Register</title>

    <div class="row">
        <div class="card col-6 offset-3">
            <form action="/register" method="POST">
                <div class="card-body">
                    <h2 class="pb-3">Register</h2>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Title">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Title">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" class="form-control" id="password" name="password" placeholder="Title">
                    </div>
                    <button class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>