<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="border: 1px solid black; margin: 5px;">
        <h2>
            <%= note.title %>
        </h2>
        <p>
            <%= note.body %>
        </p>
        <p>
            <i>ID: <%= note._id %></i>
        </p>
    </div>
    <form action="/notes/<%=note._id%>?_method=DELETE" method="POST">
        <button>Delete Note</button>
    </form>
</body>

</html>